<div class="row">
  <div class="col-sm-8"></div>

  <div class="col-sm-4">
    <div class="row mr-0 ml-0">
      <div class="col-sm-11">
        <div class="totsu">

            <h2 class="text-center">Sign up</h2>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="row field pl-4 pr-4 mb-2">
                <%= f.label :名前 %><br />
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "col-sm-12 btn_ou" %>
              </div>

              <div class="row field pl-4 pr-4 mb-2">
                <%= f.label :ユーザーID %><br />
                <%= f.text_field :my_id, autofocus: true, autocomplete: "my_id", class: "col-sm-12 btn_ou"  %>
              </div>

              <div class="row field pl-4 pr-4 mb-2">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-12 btn_ou"  %>
              </div>

              <div class="row field pl-4 pr-4 mb-2">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "col-sm-12 btn_ou"  %>
              </div>

              <div class="row field pl-4 pr-4 mb-2">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-sm-12 btn_ou"  %>
              </div>

              <div class="actions text-center mb-2">
                <%= f.submit "Sign up", class: "btn" %>
              </div>
            <% end %>

            <div class="text-center">
              <%= link_to "ログインはこちら", new_user_session_path %>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>




