<div class="row">
  <div class="col-sm-3">
    <%= render 'layouts/side', { daily_clear: @daily_clear, daily_clear_status: @daily_clear_status, mission: @mission, user: current_user } %>
  </div>

  <div class="col-sm-9 pr-5">
    <div class="row ml-0 mr-0">
      <div class="col-sm-12">
        <div class="left d-flex align-items-end">
          <h2 class="mb-0">Log</h2><h3 class="pl-2 pb-1 mb-0">Time Attacks</h3>
        </div>
        <div class="right"><%= link_to "現在のRecord Indexへ", records_path, class: "btn" %></div>
      </div>
    </div>

    <div class="row ml-0 mr-0">
      <div class="col-sm-8 pl-3">
        <div class="line"></div>
      </div>
      <div class="col-sm-4">
        <div class="line"></div>
      </div>
    </div>

    <div class="row ml-0 mr-0">
      <div class="col-sm-8">
        <% if @mission.present? && @mission.time_attacks.present? %>
          <% @time_attacks.each do |time_attack| %>
            <table>
              <tbody>
                <tr>
                  <td><%= l time_attack.created_at, format: :date %></td>
                  <td><%= time_attack.title %></td>
                  <td><%= time_attack.diff %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% else %>
          <div>記録はありません</div>
        <% end %>
      </div>

      <div class="col-sm-4">
        <!--終了ミッション一覧-->
        <% if @finish_missions.present? %>
          <% @finish_missions.each_with_index do |fm, n| %>
          <div class="mb-3">
              <%= link_to mission_time_attacks_path(order_sort: "#{n + 1}", mission_id: fm.id ) do %>
                <table class="color-4">
                  <tbody class="color-4">
                    <tr class="color-4">
                      <td class="color-4"><%= l fm.created_at, format: :year_date %> - <%= l fm.updated_at, format: :year_date %></td>
                    </tr>
                    <tr class="color-4">
                      <td class="color-4"><b class="color-4"><%= fm.title %></b></td>
                    </tr>
                  </tbody>
                </table>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>



