<div class="row ml-0 mr-0">
  <div class="col-sm-9">
    <%= user.name %>
    ( @<%= user.my_id %> )<br>

    <% if user.missions.present? && user.missions.find_by(user_id: user.id, status: "doing") %>
      <% if mission.deadline_on.present? %>
        <%= mission.deadline_on %>までに<%= mission.title %><br>
        <label>ミッション進捗</label>
      <% else %>
        <%= mission.title %><br>
        <label>ミッション進捗</label>
      <% end %>
    <% end %>
  </div>

  <div class="col-sm-3">
    <% if user.missions.present? && user.missions.find_by(user_id: user.id, status: "doing") %>
      <label>継続日数 : </label><br>
      <label>リカバリー回数 : </label><br>
      <label>記録回数 : <%= records %></label><br>
    <% end %>
  </div>
</div>
<%#= @user.profile_image_id %>


<!--ビューの呼び出し部分-->
<%#= link_to user.name, public_page_user_path(user) %>

<!--コントローラの呼び出し部分-->
<!--@user = User.find(params[:id])-->
<!--if @user.missions.present? && @user.missions.find_by(user_id: @user.id, status: "doing").present?-->
<!--  # 総記録数の計算(nilの場合の処理)-->
<!--  @mission = @user.missions.where(user_id: @user.id, status: "doing").last-->
<!--  if @mission.records.present? && @mission.time_attacks.present?-->
<!--    @records = @mission.records.count + @mission.time_attacks.count-->
<!--  elsif @mission.records.present? && @mission.time_attacks.nil?-->
<!--    @records = @mission..records.count-->
<!--  elsif @mission.records.nil? && @mission.time_attacks.present?-->
<!--    @records = @mission.time_attacks.count-->
<!--  else-->
<!--    @records = 0-->
<!--  end-->
<!--end-->