<div class="row">
  <div class="col-sm-3">
    <%= render 'layouts/side', { daily_clear: @daily_clear, daily_clear_status: @daily_clear_status, mission: @mission, user: @user } %>
  </div>

  <div class="col-sm-9 pr-5">
    <% if params[:order_sort] == "0" %>
      <!--public_pageから飛んできた時-->
      <h2 class="left">Public Page(編集)</h2><br>
      <div class="line "></div>
      <%= form_for @user do |f| %>

        <%= f.attachment_field :profile_image %>

        <label>ユーザー名</label>
        <%= f.text_field :name %>
        <label>ユーザーID</label>
        <%= f.text_field :my_id %>
        <%= f.fields_for :missions do |mission| %>
          <label>ミッション内容</label>
          <%= mission.text_field :title %>
          <label>ミッション期限</label>
          <%= mission.date_field :deadline_on %>
          <%= mission.hidden_field :id, value: mission.object.id %>
        <% end %>
        <label>ユーザープロフィール</label>
        <%= f.text_area :content %>
        <%= f.submit "Save" %>
      <% end %>

    <% elsif params[:order_sort] == "1" %>
      <!--showページから飛んできた時-->
      <h2 class="left">My Page(編集)</h2><br>
      <div class="line "></div>
      <%= form_for @user do |f| %>
        <label>ユーザー名</label>
        <%= f.text_field :name %>
        <label>ユーザーID</label>
        <%= f.text_field :my_id %>
        <label>メールアドレス</label>
        <%= f.text_field :email %>
        <%= f.submit "Save" %>
      <% end %>
    <% end %>
  </div>
</div>


  <div class="col-sm-9 pr-5">
    <h2 class="left">My Page</h2>
    <div class="right">
      <%= link_to 'Edit', edit_user_path(id: @user, order_sort: "1"), class: "btn" %>
    </div>
    <div class="line mt-2"></div>

    <div class="row ml-0 mr-0">
      <div class="col-sm-2">
        <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
      </div>

      <div class="col-sm-10">
        <table>
          <tr>
            <th>ユーザー名</th>
            <td></td>
            <td></td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>ユーザーID</th>
            <td></td>
            <td></td>
            <td><%= @user.my_id %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td></td>
            <td></td>
            <td><%= @user.email %></td>
          </tr>
        </table>
      </div>