<div class="row">
  <div class="col-sm-3">
    <%= render 'layouts/side', { daily_clear: @daily_clear, daily_clear_status: @daily_clear_status, mission: @mission, user: @user } %>
  </div>

  <div class="col-sm-9">
    <label>Public Page</label>
    <% if @user.id == current_user.id %>
    	<%= link_to 'Edit', edit_user_path(id: @user, order_sort: "0"), class: "" %>
    <% else %>
    	<% if current_user.following?(@user) %>
        <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST, class: "" %>
      <% else %>
        <%= link_to 'フォローする', follow_path(@user.id), method: :POST, class: "" %>
      <% end %>
    <% end %>

    <%= render "user", { user: @user, mission: @mission, records: @records } %>

    <% if @user.content.present? %>
      <label>ユーザープロフィール</label><br>
      <%= @user.content %><br>
    <% end %>

    <% unless @user.id == current_user.id %>
    	<%= link_to 'ユーザー一覧へ', users_path, class: "" %>
    <% end %>
  </div>
</div>




