<div class="row">
  <div class="col-sm-3">
    <%= render 'layouts/side', { daily_clear: @daily_clear, daily_clear_status: @daily_clear_status, mission: @mission, user: current_user } %>
  </div>

  <div class="col-sm-9">
    <label>My Page</label>
    <%= link_to 'Edit', edit_user_path(id: @user, order_sort: "1"), class: "" %>

    <%#= 画像 %>
    <label>ユーザー名</label>
      <%= @user.name %>
    <label>ユーザーID</label>
      <%= @user.my_id %>
    <label>メールアドレス</label>
      <%= @user.email %>

      <%= link_to "ログアウトする", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}, class: ""  %>
      <%= link_to "退会はこちら", unsubscribe_users_path %>
  </div>
</div>

