<div class="row">
  <div class="col-sm-3">
    <%= render 'layouts/side', { daily_clear: @daily_clear, daily_clear_status: @daily_clear_status, mission: @mission, user:current_user } %>
  </div>

  <div class="col-sm-9 pr-5">
    <div class="row ml-0 mr-0">
      <div class="col-sm-12">
        <h2 class="left">Record Index</h2>
        <div class="right"><%= link_to "現在のTime Attack Log へ", time_attacks_path, class: "btn" %></div>
      </div>
    </div>

    <div class="row ml-0 mr-0">
      <div class="col-sm-8 pl-3">
        <div class="line"></div>
      </div>
      <div class="col-sm-4">
        <div class="line"></div>
      </div>
    </div>

    <div class="row ml-0 mr-0">
      <div class="col-sm-8">
        <% if @mission.present? && @mission.records.present? %>
          <% @records.each do |record| %>
            <table>
              <tbody>
                <tr>
                  <td><%= l record.created_at, format: :date %></td>
                  <td><%= record.title %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% else %>
          <div>記録はありません</div>
      <% end %>
      </div>

      <div class="col-sm-4">
        <!--終了ミッション一覧-->
        <% if @finish_missions.present? %>
          <% @finish_missions.each_with_index do |fm, n| %>
          <div class="mb-3">
              <%= link_to records_path(order_sort: "#{n + 1}") do %>
                <table class="color-4">
                  <tbody class="color-4">
                    <tr class="color-4">
                      <td class="color-4"><%= l fm.created_at, format: :year_date %> - <%= l fm.updated_at, format: :year_date %></td>
                    </tr>
                    <tr class="color-4">
                      <td class="color-4"><b class="color-4"><%= fm.title %></b></td>
                    </tr>
                  </tbody>
                </table>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>






