<div class="row mr-0 ml-0 widget--sticky ">
  <div class="col-sm-11">
    <!--凸部分-->
    <div class="row mr-0 ml-0">
      <div class="col-sm-12">
        <% if user.missions.present? && user.missions.find_by(status: "doing").present? %>
          <div class="row mr-0 ml-0">
            <div class="ou col-sm-12">
              <% mission = user.missions.where(status: "doing").last %>
              <label><%= mission.title %></label><br>
              <label>Total : <%= mission.time_attacks.count + mission.records.count %></label><br>
              <label>Continuation</label><br>
              <label>Recovery</label>
            </div>
          </div>

          <div class="row mr-0 ml-0 d-flex flex-column text-center mt-3 mb-3">
            <% if user == current_user %>

              <!--当日クリア済みの時-->
              <% if daily_clear_status.present? && daily_clear_status.status == "clear" %>
                <div><p>Today's All Tasks</p></div>
                <div>Clear!</div>
              <!--過去ログ参照時-->
              <% elsif @n.present? %>

              <!--当日未クリアの時-->
              <% else %>
                <div><p>Today's All Tasks</p></div>
                <div>
                  <%= form_with model: daily_clear, url: daily_clears_path, local: true do |f| %>
                    <%= f.hidden_field :status, :value => "clear" %>
                    <%= f.submit "Clear", class: "btn_totsu color-1 col-sm-12", data: {confirm: "本日のタスクを全て完了しますか？"} %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="row mr-0 ml-0">
            現在実行中のミッションは<br>ありません
          </div>
        <% end %>
      </div>
    </div>

    <div class="line"></div>

    <!--link部分-->
    <div class="row mr-0 ml-0 d-flex flex-column pt-2">
      <%= link_to "Record", new_record_path, class: "pt-2 pb-2 pl-4" %>
      <% if current_user.missions.present? %>
        <%= link_to "Time Attack", mission_path(current_user.missions.last.id), class: "pt-2 pb-2 pl-4" %>
      <% end %>
        <%= link_to "Calendar", calendars_path, class: "pt-2 pb-2 pl-4" %>
        <%= link_to "Log", records_path, class: "pt-2 pb-2 pl-4" %>
        <%#= link_to "Gantt", gantts_path, class: "pt-2 pb-2 pl-4" %>
      <% if current_user.missions.present? %>
        <%= link_to "Mission", edit_mission_path(mission.id), class: "pt-2 pb-2 pl-4" %>
      <% end %>
    </div>
  </div>
</div>

<!--呼び出し時参考/ビュー-->
<%#= render 'layouts/side', { daily_clear: @daily_clear, daily_clear_status: @daily_clear_status, mission: @mission, user: } %>

<!--呼び出し時参考/コントローラ-->

<!--# ここから/部分テンプレート呼び出し-->
<!--if current_user.missions.present? && current_user.missions.find_by(status: "doing").present?-->
<!--  @mission = Mission.find_by(user_id: current_user.id, status: "doing")-->
<!--  @daily_clear = DailyClear.new-->
<!--  @daily_clear_status = @mission.daily_clears.find_by(created_at: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day)-->
<!--end-->
<!--# ここまで/部分テンプレート呼び出し-->

