<!DOCTYPE html>
<html>
  <head>
    <title>MyPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="background footerFixed">
    <header>
      <%= render "layouts/header" %>
    </header>

    <body>
      <div class= "container-fluid mb-5">
        <%= yield %>
      </div>
    </body>

     <footer class="footer">
      <!--bootstrap4のcontainerのデフォマージンが広かったのでcontainer-fluidへ変更-->
      <div class ="container-fluid">
        <p class="text-center mb-0">©2021 Ootaka Ebisu</p>
      </div>
    </footer>
  </div>

</html>
